.container {
    background-color: #f5f5f5;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);

}
.dropdown-button {
    position: relative;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #5380F7;
    min-width: 260px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.material-icons_small {
    font-size: 1.5rem;
    background-color: #5380F7;
    border-radius: 100%;
    border: 5px solid #9db7ff;
    animation: ripple 0.6s linear infinite;
}

.dropdown-list {
    position: relative;
    top: 20px;  

    min-width: 260px;
    background-color: white;
    visibility: hidden;
}

.dropdown-list_visible {
    display: block;
    visibility:visible;
}

.dropdown-item {
    margin: 15px;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(128, 128, 128, 0.212);
    color: gray;
}

.dropdown-item:nth-last-child(1) {
    border: none;
    padding: 0;
}

.dropdown-item:hover {
    color: #5380F7;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: -14px;
    left: 15px;
    border: 7px solid transparent;
    border-bottom-color: white;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}